<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{%if: ${title}%}${title}{% else %}<!-- 标题 -->{%/if%}</title>
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v1/mip.css">
    <link rel="canonical" href="对应的原页面地址">
    <style mip-custom>
    /* 自定义样式 */
    </style>
</head>
<body>{%if: ${preset}%}${preset|raw}{%/if%}
<!-- 正文 -->
{%if: ${examples}%}
    {%for: ${examples} as ${example}%}
    <p style="text-align:left;font-size:18px;margin-top:20px;color: green">${example.title}</p>
    <p style="text-align:left;margin-bottom:10px;color:gray">${example.description}</p>${example.code|raw}
    {%/for%}
{%/if%}
<script src="https://c.mipcdn.com/static/v1/mip.js"></script>
{%for: ${elements} as ${element}%}<script src="${element}"></script>
{%/for%}
</body>
</html>
